%h1 stack overflow graphs
%form{:action => "/graph", :method => "post"}
  %legend
    graph of questions over time
  %p
    %label{:for => ""} enter any tag from stackoverflow.com
    %input{:type => "textbox", :name => "tag", :id => "tag"}
  %p
    %input{:type => "submit", :value => "graph!"}
